body {
    background-color: #ECF8F6;
}

.navbar {
    position: sticky;
    top: 20px;
    background-color: #18534f;
    display: flex;
    align-items: center;
    height: 10vh;
    border-radius: 15px;
    padding: 0 20px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}

.navbar .hamburger {
    height: 50px;
    width: 50px;
    border-radius: 100%;
    font-size: large;
    border: none;
    background-color: #18534f9f;
    display: none;
}

.navbar img {
    margin-left: 3%;
    width: 60px;
    height: 60px;
    border-radius: 100%;
    margin-right: 10%;
}

.navbar .Section {
    width: 75%;
    display: flex;
    justify-content: space-around;
}

.navbar .Section button {
    height: 2.5em;
    width: 7em;
    border: none;
    border-radius: 15px;
    background-color: #357269;
    color: #ECF8F6;
    transition: 0.5s;
}

.navbar .Section button:hover {
    transform: scale(1.05);
    background-color: #4a8f85;
    transition: transform 0.2s ease, background-color 0.2s ease;
    border: solid 1px #ECF8F6;
}

.menu_mobile{
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-color: #18534f;
    display: flex;
    transform: translateX(-100%);
    transition: transform 0.4s ease;
}

.menu_mobile.open {
    transform: translateX(0);
}

.menu_mobile .menu{
    height: 60%;
    width: 55%;
    display: grid;
    margin-top: 15%;
    margin-left: 15%;
    background-color: #ffffff;
    border: none;
    text-align: left;
    font-size: xx-large;
}

.menu_mobile img {
    margin-top: 5%;
    margin-left: 20%;
    width: 90px;
    height: 90px;
    border-radius: 100%;
    margin-right: 10%;
}

.menu_mobile .menu button {
    background-color: #18534f;
    border: none;
    font-size: xx-large;
    text-align: left;
    transition: 1s;
}

.menu_mobile .menu button:hover {
    text-decoration: underline;
}

@media screen and (max-width: 768px){
    .navbar {
        box-shadow: 0 0px 0px;
    }

    .navbar .Section{
        display: none;
    }

    .navbar .hamburger {
        display: block;
    }
    
    .navbar {
        justify-content: space-between;
        background-color: #ECF8F6;
    }
}

@media screen and (min-width: 1500px){
    .navbar .Section button {
        height: 3em;
        width: 8em;
        border-radius: 20px;
    }
    
}