body {
    background-color: #ECF8F6;
}

.hamburger {
    height: 50px;
    width: 50px;
    border-radius: 100%;
    font-size: large;
    border: none;
    background-color: #18534f9f;
    display: none;
}

.navbar {
    position: sticky;
    top: 20px;
    background-color: #18534f;
    display: flex;
    align-items: center;
    height: 10vh;
    border-radius: 15px;
}

.navbar img {
    margin-left: 3%;
    width: 60px;
    height: 60px;
    border-radius: 100%;
    margin-right: 10%;
}

.navbar .Section {
    width: 70%;
    display: flex;
    justify-content: space-around;
}

.navbar .Section button {
    height: 2.5em;
    width: 7em;
    border: none;
    border-radius: 5px;
    background-color: #357269;
    color: #ECF8F6;
    transition: 0.5s;
}

.navbar .Section button:hover {
    scale: 110%;
    border: solid 1px #ECF8F6;
}

@media screen and (max-width: 600px){
    .hamburger {
        display: block;
    }

    .navbar {
        display: none;
    }
}